// -----------------------------------------------------------------------------
// FOR IPAD AND DESKTOP
// -----------------------------------------------------------------------------

// Remove mobile nav button
.dropbtn {
    display: none;
}

.nav {
    flex-wrap: nowrap;
    align-items: center;

}

.nav-background {
    display: none;
}

.show-list {
    display: block;
}

// End remove mobile nav button stylings

.header-nav {
    padding-bottom: 1em;
}

.container {
    width: 78%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-content { 
    flex-basis: auto;
    background-color: $nav-bgcolor-desktop;

    li {
        display: inline;
        margin-left: 1em;
        a {
            color: $nav-color-desktop-font;
           

            &:hover {
                text-decoration: none;
                color: black;
            }

            &:focus {
                border: none;
            }
        }

    }
}

#view-plans-nav-desktop {
    display: inline;
    border: 3px black solid;
    color: black;
    padding: 0.25em 1.7em;


    &:hover, &:focus, &:active {
        text-decoration: none;
        color: white;
        background-color: black;
        border: 3px black solid;
    }
}

